/* PC */
@media (min-width: 992px) {
}

/* TABLET + MOBILE */
@media (max-width: 991.98px) {
  /* Main content */
  .main-content {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* Ẩn navbar */
  .header nav {
    display: none;
  }
  .header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-mobile {
    display: block;
  }
}

/* TABLET*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* MOBILE */
@media (max-width: 767.98px) {
}
